<?php /** @var \Brukeo\DistributorsManager\Block\Companies\ByCity $block */ ?>
<?php $citiesData = $block->getCitiesData() ?>
<ul>
    <?php foreach ($citiesData as $cityKey => $cityName) : ?>
        <li><a href="<?= $block->getCityUrl($cityKey) ?>"><?= $cityName ?></a></li>
    <?php endforeach ?>
</ul>
