.distributor-google-map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.distributor-google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.companies-in-city {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.companies-in-city li a {
    display: block;
    width: 280px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}
.companies-in-city li a img {
    margin: 20px;
    margin-bottom: 20px;
}
h1.page-title {
    margin: 30px 0px 0px 0px;
    padding: 0;
}
.product-additional-data {
    margin-top: 5px;
}
.bussines-types {
    font-size: small;
    color: #1a1a1a !important;
}
