<?php /** @var \Brukeo\DistributorsManager\Block\Companies\InCity $block */ ?>
<?php $roductCollection = $block->getProductCollection() ?>
<ul class="companies-in-city">
    <?php /** @var \Magento\Catalog\Model\Product $product */ ?>
    <?php foreach ($roductCollection as $product) : ?>
        <?php
        $imageUrl = $this->helper('Magento\Catalog\Helper\Image')
            ->init($product, 'product_base_image')
            ->constrainOnly(true)
            ->keepAspectRatio(true)
            ->keepTransparency(true)
            ->keepFrame(false)
            ->resize(150, 150)->getUrl();
        ?>
        <li>
            <a href="<?= $product->getProductUrl() . "#main" ?>">
                <img class="product-image" src="<?= $imageUrl ?>" alt="<?= $product->getName(); ?>" title="<?= $product->getName(); ?>">
                <div class="product-name"><?= $product->getName(); ?></div>
                <div class="product-additional-data">
                    <?php $bussinesTypes = $block->getMultiselectAttributeOptionsText($product, 'distributor_types') ?>
                    <div class="bussines-types"><?= $bussinesTypes ?></div>
                </div>
            </a>
        </li>
    <?php endforeach ?>
</ul>
